@font-face {
  font-family: "Lexend-Bold";
  src: url(../src/assets/fonts/Lexend-Bold.ttf);
}
@font-face {
  font-family: "Lexend-SemiBold";
  src: url(../src/assets/fonts/Lexend-SemiBold.ttf);
}
@font-face {
  font-family: "Lexend-Regular";
  src: url(../src/assets/fonts/Lexend-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../src/assets/fonts/OpenSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 3px solid rgb(255, 153, 0);
  outline-offset: 2px;
}

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 5rem;
  background-color: #4966bf;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
header div {
  display: flex;
  align-items: center;
}
header div img {
  width: 3rem;
  height: auto;
  margin-right: 1rem;
}
header div p {
  font-family: "Lexend-Bold";
  color: #02091e;
  font-size: 1.5rem;
}
header .menu-icon {
  color: #02091e;
  font-size: 2.5rem;
}

.manager {
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;
}

.switchButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(73, 102, 191, 0.8);
  border-radius: 2rem;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: none;
  margin: 1rem 0.5rem;
  padding: 1rem 1rem;
  width: auto;
  height: height;
  gap: 1rem;
}
.switchButtons h2 {
  font-family: "Lexend-Bold";
  color: #02091e;
}
.switchButtons button {
  background-color: #93aefc;
  font-family: "Lexend-SemiBold";
  color: #02091e;
  padding: 1.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  border: 3px outset #ecf0fa;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  height: height;
  width: auto;
  transition: 0.4s ease;
  font-family: "Lexend-Bold";
  color: #02091e;
  font-size: 1.75rem;
}
.switchButtons button:hover {
  border: 3px solid #fcca00;
  transition: 0.4s ease;
}
.switchButtons button .list-icon {
  background-color: #ecf0fa;
  color: #02091e;
  font-size: 3rem;
  border-radius: 50%;
  padding: 0.4rem;
  justify-self: center;
}
.switchButtons .active {
  transition: 0.4s ease;
  border: inset 3px #4966bf;
  background-color: #93aefc;
}
.switchButtons .active .list-icon {
  color: #fcca00;
  background-color: #02091e;
  transition: 0.4s ease;
}

.visually-hidden {
  display: none;
}

.taskmanager,
.shopmanager {
  background-color: rgba(73, 102, 191, 0.8);
  border-radius: 2rem;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: none;
  margin: 1rem 0.5rem;
  padding: 1rem 1rem;
  width: auto;
  height: height;
  display: grid;
  grid-template-rows: 0.4fr auto;
  gap: 1rem;
}
.taskmanager h1,
.shopmanager h1 {
  font-family: "Lexend-Bold";
  color: #02091e;
  background-color: #93aefc;
  border-radius: 1rem;
  padding: 1rem 1rem;
  width: 100%;
  height: height;
  text-align: center;
  grid-row: 1;
  font-size: 2rem;
}
.taskmanager h2,
.shopmanager h2 {
  font-family: "Lexend-Bold";
  color: #02091e;
}
.taskmanager p,
.shopmanager p {
  font-family: "OpenSans-Regular";
  color: #02091e;
  font-size: 1rem;
}
.taskmanager .prioritytxt,
.shopmanager .prioritytxt {
  font-weight: bold;
  font-size: 1.2rem;
}
.taskmanager .alertMsg,
.shopmanager .alertMsg {
  margin-left: 1rem;
  font-weight: bold;
}
.taskmanager .taskForm,
.taskmanager .shopForm,
.shopmanager .taskForm,
.shopmanager .shopForm {
  background-color: #93aefc;
  border-radius: 1rem;
  padding: 1rem 1rem;
  width: 100%;
  height: height;
  grid-row: 2;
}
.taskmanager .taskForm input,
.taskmanager .shopForm input,
.shopmanager .taskForm input,
.shopmanager .shopForm input {
  font-family: "OpenSans-Regular";
  color: #02091e;
  font-size: 1rem;
  background-color: white;
  padding: 0.2rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  height: auto;
}
.taskmanager .taskForm select,
.taskmanager .taskForm option,
.taskmanager .shopForm select,
.taskmanager .shopForm option,
.shopmanager .taskForm select,
.shopmanager .taskForm option,
.shopmanager .shopForm select,
.shopmanager .shopForm option {
  background-color: white;
  font-family: "OpenSans-Regular";
  font-size: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  padding: 0.2rem;
  margin: 0.5rem 0;
  border: #02091e 1.6px inset;
}
.taskmanager .taskForm button,
.taskmanager .shopForm button,
.shopmanager .taskForm button,
.shopmanager .shopForm button {
  background-color: #021e73;
  font-family: "Lexend-SemiBold";
  font-size: 1rem;
  color: #ecf0fa;
  border-radius: 0.5rem;
  width: 100%;
  height: 2rem;
  padding: 0.2rem;
  margin-bottom: 0.6rem;
  border: 3px outset #4966bf;
}
.taskmanager .taskForm button:hover,
.taskmanager .shopForm button:hover,
.shopmanager .taskForm button:hover,
.shopmanager .shopForm button:hover {
  border: 3px solid #fcca00;
  transition: 0.4s ease;
  color: #fcca00;
}
.taskmanager .shopBox,
.taskmanager .taskBox,
.shopmanager .shopBox,
.shopmanager .taskBox {
  background-color: #93aefc;
  border-radius: 1rem;
  padding: 1rem 1rem;
  width: 100%;
  height: height;
  font-family: "Lexend-Bold";
  color: #02091e;
}
.taskmanager .shopBox ul li,
.taskmanager .taskBox ul li,
.shopmanager .shopBox ul li,
.shopmanager .taskBox ul li {
  list-style: none;
}
.taskmanager .shopBox ul li h2,
.taskmanager .shopBox ul li p,
.taskmanager .taskBox ul li h2,
.taskmanager .taskBox ul li p,
.shopmanager .shopBox ul li h2,
.shopmanager .shopBox ul li p,
.shopmanager .taskBox ul li h2,
.shopmanager .taskBox ul li p {
  word-wrap: break-word;
}
.taskmanager .shopBox ul li button,
.taskmanager .taskBox ul li button,
.shopmanager .shopBox ul li button,
.shopmanager .taskBox ul li button {
  background-color: #021e73;
  font-family: "Lexend-SemiBold";
  font-size: 1rem;
  color: #ecf0fa;
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
  border: 3px outset #4966bf;
}
.taskmanager .shopBox ul li button:hover,
.taskmanager .taskBox ul li button:hover,
.shopmanager .shopBox ul li button:hover,
.shopmanager .taskBox ul li button:hover {
  border: 3px solid #fcca00;
  transition: 0.4s ease;
  color: #fcca00;
}
.taskmanager .shopBox ul li .button-group,
.taskmanager .taskBox ul li .button-group,
.shopmanager .shopBox ul li .button-group,
.shopmanager .taskBox ul li .button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskmanager .shopBox ul .shop-item.completed,
.taskmanager .shopBox ul .task-item.completed,
.taskmanager .taskBox ul .shop-item.completed,
.taskmanager .taskBox ul .task-item.completed,
.shopmanager .shopBox ul .shop-item.completed,
.shopmanager .shopBox ul .task-item.completed,
.shopmanager .taskBox ul .shop-item.completed,
.shopmanager .taskBox ul .task-item.completed {
  text-decoration: line-through;
  color: #4966bf;
}

/*tablet version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
@media only screen and (max-width: 800px) {
  .taskmanager h1,
  .shopmanager h1 {
    font-size: 1;
  }
}
/*phone version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
@media only screen and (max-width: 500px) {
  .manager {
    min-width: 400px;
  }
  .taskmanager h1,
  .shopmanager h1 {
    font-size: 1.75rem;
  }
  .taskmanager h2,
  .shopmanager h2 {
    font-size: 1.3rem;
  }
  .switchButtons button {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=App.css.map */