@use "partial";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 3px solid rgb(255, 153, 0);
  outline-offset: 2px;
}

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 5rem;
  background-color: partial.$mediumBlue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  div {
    display: flex;
    align-items: center;

    img {
      width: 3rem;
      height: auto;
      margin-right: 1rem;
    }

    p {
      @include partial.heading;
      font-size: 1.5rem;
    }
  }

  .menu-icon {
    color: partial.$blueBlack;
    font-size: 2.5rem;
  }
}

.manager {
  max-width: partial.$deskwidth;
  margin: auto;
  padding: 0 1rem;
}

.switchButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include partial.box1;
  gap: 1rem;

  button {
    @include partial.switchButtons;

    .list-icon {
      @include partial.list-icon;
    }
  }

  .active {
    transition: partial.$transition;
    border: inset 3px partial.$mediumBlue;
    background-color: partial.$lightBlue;

    .list-icon {
      color: partial.$strongYellow;
      background-color: partial.$blueBlack;
      transition: partial.$transition;
    }
  }
}

.visually-hidden {
  display: none;
}

.taskmanager,
.shopmanager {
  @include partial.box1;
  display: grid;
  grid-template-rows: 0.4fr auto;
  gap: 1rem;

  h1 {
    @include partial.heading;
    @include partial.box2;
    text-align: center;
    grid-row: 1;
  }

  h2 {
    @include partial.heading;
  }

  p {
    @include partial.txt;
  }

  .prioritytxt {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .alertMsg {
    margin-left: 1rem;
    font-weight: bold;
  }


  .taskForm,
  .shopForm {
    @include partial.box2;
    grid-row: 2;

    input {
      @include partial.txt;
      @include partial.input;
    }

    select,
    option {
      @include partial.choice;
    }

    button {
      @include partial.button;
    }
  }


}

/*tablet version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
@media only screen and (max-width: 800px) {

  .taskmanager,
  .shopmanager {
    h1 {
      font-size: 1
    }
  }
}

/*phone version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
@media only screen and (max-width: 500px) {

  .taskmanager,
  .shopmanager {
    h1 {
      font-size: 1.75rem;
    }

    h2 {
      font-size: 1.3rem;
    }


  }

}