@use "partial";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 5rem;
  background-color: partial.$mediumBlue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  div {
    display: flex;
    align-items: center;

    img {
      width: 3rem;
      height: auto;
      margin-right: 1rem;
    }

    p {
      @include partial.heading;
      font-size: 1.5rem;
    }
  }

  .menu-icon {
    color: partial.$blueBlack;
    font-size: 2.5rem;
  }
}

.switchButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include partial.box1;
  gap: 1rem;

  button {
    @include partial.switchButtons;
  }

  .active {
    transition: partial.$transition;
    border: inset 3px partial.$mediumBlue;

    .list-icon {
      color: partial.$strongYellow;
      background-color: partial.$blueBlack;
      transition: partial.$transition;
    }
  }
}

.taskmanager {
  @include partial.box1;
  h1 {
    @include partial.heading;
  }
}
