@use "partial";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 5rem;
  background-color: partial.$mediumBlue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  div {
    display: flex;
    align-items: center;

    img {
      width: 3rem;
      height: auto;
      margin-right: 1rem;
    }

    p {
      @include partial.heading;
      font-size: 1.5rem;
    }
  }

  .menu-icon {
    color: partial.$blueBlack;
    font-size: 2.5rem;
  }
}

.manager {
  margin: auto;
  padding: 0 1rem;
  width: 100%;
}

.switchButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include partial.box1;
  gap: 1rem;

  button {
    @include partial.switchButtons;
    @include partial.heading;

    .list-icon {
      @include partial.list-icon;
    }
  }

  .active {
    transition: partial.$transition;
    border: inset 3px partial.$mediumBlue;
    background-color: partial.$lightBlue;

    .list-icon {
      color: partial.$strongYellow;
      background-color: partial.$blueBlack;
      transition: partial.$transition;
    }
  }
}

.visually-hidden {
  display: none;
}

.taskmanager,
.shopmanager {
  @include partial.box1;
  display: grid;
  grid-template-rows: 0.4fr auto;
  gap: 1rem;

  h1 {
    @include partial.heading;
    @include partial.box2;
    text-align: center;
    grid-row: 1;
    font-size: 2rem;
  }

  h2 {
    @include partial.heading;
  }

  p {
    @include partial.txt;
  }

  .prioritytxt {
    @include partial.heading;
    font-family: partial.$headingSemi;
    font-size: 1.2rem;
  }

  .alertMsg {
    @include partial.heading;
    @include partial.box2;
  }

  .taskForm,
  .shopForm {
    @include partial.box2;
    grid-row: 2;

    label {
      font-family: partial.$headingRegular;
      font-size: 1rem;
    }

    input {
      @include partial.txt;
      @include partial.input;
    }

    select,
    option {
      @include partial.choice;
    }

    button {
      @include partial.button;
    }
  }
  .taskBox {
    li {
      border-bottom: 2px solid partial.$mediumBlue;
      padding-top: 0.5rem;

      &:last-child {
        border: none;
      }
    }
  }
  .shopBox,
  .taskBox {
    @include partial.box2;
    @include partial.heading;
    margin-bottom: 1rem;
    .priority {
      text-decoration: underline;
    }

    ul {
      li {
        list-style: none;
        h2 {
          font-size: 1.2rem;
        }
        h2,
        p {
          word-wrap: break-word;
        }

        button {
          @include partial.icon-button;
        }
      }
      .shop-item {
        display: grid;
        grid-template-columns: 2fr 0.5fr;
        align-items: center;
        word-break: break-all;

        .shop-buttons {
          display: flex;
          flex-direction: row;
          margin-bottom: 0.5rem;
          justify-content: right;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0.2rem;
          }
        }
      }

      .task-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2.5rem;
        gap: 0.5rem;

        .task-buttons {
          display: flex;
          flex-direction: row;
          margin-bottom: 0.5rem;
          justify-content: right;
          grid-row: 2;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0.2rem;
          }
        }
      }

      .shop-item.completed,
      .task-item.completed {
        text-decoration: line-through partial.$mediumBlue 3px;
        color: partial.$mediumBlue;
      }
    }
  }
  button {
    @include partial.button;
    border-radius: partial.$borderRadiusInner;
    margin-bottom: 0.25rem;
    height: 3rem;
  }

  .modal-overlay {
    .modal {
      input,
      textarea {
        @include partial.input;
      }
      .custom-edit {
        width: 100%;
        height: 6rem;
        resize: none;
      }
      select,
      option {
        @include partial.choice;
      }
      button {
        @include partial.button;
      }
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

/*tablet version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
@media screen and (min-width: 425px) and (max-width: 800px) {
  .switchButtons {
    button {
      font-size: 1.3rem;
    }
  }
}

/*Desktop version - made on behalf og bigger screens*/
@media only screen and (min-width: 801px) {
  .manager {
    max-width: partial.$deskwidth;
  }
  .switchButtons {
    button {
      font-size: 1.5rem;
    }
  }

  .taskmanager,
  .shopmanager {
    h1 {
      font-size: 1.75rem;
    }

    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.3rem;
    }
    button {
      font-size: 1.3rem;
    }
    .taskForm,
    .shopForm {
      input,
      select,
      option,
      button,
      .prioritytxt {
        font-size: 1.3rem;
      } //THIS IS FOR THE POTENTIAL SHIFT IN LAYOYT FOR DESKTOP, CHECK GROUPING IN TSX
      input,
      select,
      option {
        width: 45%;
      }
      button {
        height: 3rem;
        width: 45%;
        justify-self: center;
      }
    }
    .taskBox {
      ul {
        li {
          padding-bottom: 1rem;
          button {
            width: 2.5rem;
            height: 2.5rem;
            .icon {
              width: 2rem;
              height: auto;
            }
          }
        }
      }
      .modal {
        input,
        select,
        option,
        button,
        .custom-edit {
          font-size: 1.3rem;
        }
        label {
          font-size: 1.3rem;
        }
        button {
          height: 3rem;
        }
      }
    }
    .shopBox {
      .shop-item {
        button {
          width: 2.5rem;
          height: 2.5rem;
          .icon {
            width: 2rem;
            height: auto;
          }
        }
      }
    }
  }
}
