@font-face {
  font-family: "Lexend-Bold";
  src: url(../src/assets/fonts/Lexend-Bold.ttf);
}
@font-face {
  font-family: "Lexend-SemiBold";
  src: url(../src/assets/fonts/Lexend-SemiBold.ttf);
}
@font-face {
  font-family: "Lexend-Regular";
  src: url(../src/assets/fonts/Lexend-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../src/assets/fonts/OpenSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 5rem;
  background-color: #4966bf;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
header div {
  display: flex;
  align-items: center;
}
header div img {
  width: 3rem;
  height: auto;
  margin-right: 1rem;
}
header div p {
  font-family: "Lexend-Bold";
  color: #02091e;
  font-size: 1.5rem;
}
header .menu-icon {
  color: #02091e;
  font-size: 2.5rem;
}

.manager {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.switchButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(73, 102, 191, 0.8);
  border-radius: 2rem;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: none;
  margin: 1rem 0.5rem;
  padding: 1rem 1rem;
  gap: 1rem;
}
.switchButtons button {
  background-color: #93aefc;
  font-family: "Lexend-SemiBold";
  color: #02091e;
  padding: 1.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  border: 3px outset #dae0f0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.switchButtons button .list-icon {
  background-color: #dae0f0;
  color: #02091e;
  font-size: 3rem;
  border-radius: 50%;
  padding: 0.4rem;
  justify-self: center;
}
.switchButtons button:hover {
  border: 3px solid #fcca00;
  transition: 0.4s ease;
}
.switchButtons .active {
  transition: 0.4s ease;
  border: inset 3px #93aefc;
  background-color: #4966bf;
}
.switchButtons .active .list-icon {
  color: #fcca00;
  background-color: #02091e;
  transition: 0.4s ease;
}

.visually-hidden {
  display: none;
}

.taskmanager,
.shopmanager {
  background-color: rgba(73, 102, 191, 0.8);
  border-radius: 2rem;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: none;
  margin: 1rem 0.5rem;
  padding: 1rem 1rem;
  display: grid;
  grid-template-rows: 0.4fr auto;
  gap: 1rem;
}
.taskmanager h1,
.shopmanager h1 {
  font-family: "Lexend-Bold";
  color: #02091e;
  background-color: #93aefc;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  height: auto;
  text-align: center;
  grid-row: 1;
}
.taskmanager h2,
.shopmanager h2 {
  font-family: "Lexend-Bold";
  color: #02091e;
}
.taskmanager p,
.shopmanager p {
  font-family: "OpenSans-Regular";
  color: #02091e;
  font-size: 1rem;
}
.taskmanager .taskForm,
.taskmanager .shopForm,
.shopmanager .taskForm,
.shopmanager .shopForm {
  background-color: #93aefc;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  height: auto;
  grid-row: 2;
}
.taskmanager .taskForm input,
.taskmanager .shopForm input,
.shopmanager .taskForm input,
.shopmanager .shopForm input {
  font-family: "OpenSans-Regular";
  color: #02091e;
  font-size: 1rem;
  background-color: white;
  padding: 0.2rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
}

/*tablet version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
/*phone version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*//*# sourceMappingURL=App.css.map */