@font-face {
  font-family: "Lexend-Bold";
  src: url(../src/assets/fonts/Lexend-Bold.ttf);
}
@font-face {
  font-family: "Lexend-SemiBold";
  src: url(../src/assets/fonts/Lexend-SemiBold.ttf);
}
@font-face {
  font-family: "Lexend-Regular";
  src: url(../src/assets/fonts/Lexend-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../src/assets/fonts/OpenSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 5rem;
  background-color: #4966bf;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
header div {
  display: flex;
  align-items: center;
}
header div img {
  width: 3rem;
  height: auto;
  margin-right: 1rem;
}
header div p {
  font-family: "Lexend-Bold";
  color: #02091e;
  font-size: 1.5rem;
}
header .menu-icon {
  color: #02091e;
  font-size: 2.5rem;
}

.manager {
  margin: auto;
  padding: 0 1rem;
  width: 100%;
}

.switchButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(73, 102, 191, 0.8);
  border-radius: 2rem;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: none;
  margin: 1rem 0.5rem;
  padding: 1rem 1rem;
  width: auto;
  height: auto;
  gap: 1rem;
}
.switchButtons button {
  background-color: #93aefc;
  font-family: "Lexend-SemiBold";
  color: #02091e;
  padding: 1rem 0.5rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  border: 3px outset #ecf0fa;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  height: auto;
  width: 100%;
  transition: 0.4s ease;
  font-family: "Lexend-Bold";
  color: #02091e;
}
.switchButtons button:hover {
  border: 3px solid #fcca00;
  transition: 0.4s ease;
}
.switchButtons button .list-icon {
  background-color: #ecf0fa;
  color: #02091e;
  font-size: 3rem;
  border-radius: 50%;
  padding: 0.4rem;
  justify-self: center;
}
.switchButtons .active {
  transition: 0.4s ease;
  border: inset 3px #4966bf;
  background-color: #93aefc;
}
.switchButtons .active .list-icon {
  color: #fcca00;
  background-color: #02091e;
  transition: 0.4s ease;
}

.visually-hidden {
  display: none;
}

.taskmanager,
.shopmanager {
  background-color: rgba(73, 102, 191, 0.8);
  border-radius: 2rem;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: none;
  margin: 1rem 0.5rem;
  padding: 1rem 1rem;
  width: auto;
  height: auto;
  display: grid;
  grid-template-rows: 0.4fr auto;
  gap: 1rem;
}
.taskmanager h1,
.shopmanager h1 {
  font-family: "Lexend-Bold";
  color: #02091e;
  background-color: #93aefc;
  border-radius: 1rem;
  padding: 1rem 1rem;
  width: 100%;
  height: auto;
  text-align: center;
  grid-row: 1;
  font-size: 2rem;
}
.taskmanager h2,
.shopmanager h2 {
  font-family: "Lexend-Bold";
  color: #02091e;
}
.taskmanager p,
.shopmanager p {
  font-family: "OpenSans-Regular";
  color: #02091e;
  font-size: 1rem;
}
.taskmanager .prioritytxt,
.shopmanager .prioritytxt {
  font-family: "Lexend-Bold";
  color: #02091e;
  font-family: "Lexend-SemiBold";
  font-size: 1.2rem;
}
.taskmanager .alertMsg,
.shopmanager .alertMsg {
  font-family: "Lexend-Bold";
  color: #02091e;
  background-color: #93aefc;
  border-radius: 1rem;
  padding: 1rem 1rem;
  width: 100%;
  height: auto;
}
.taskmanager .taskForm,
.taskmanager .shopForm,
.shopmanager .taskForm,
.shopmanager .shopForm {
  background-color: #93aefc;
  border-radius: 1rem;
  padding: 1rem 1rem;
  width: 100%;
  height: auto;
  grid-row: 2;
}
.taskmanager .taskForm label,
.taskmanager .shopForm label,
.shopmanager .taskForm label,
.shopmanager .shopForm label {
  font-family: "Lexend-Regular";
  font-size: 1rem;
}
.taskmanager .taskForm input,
.taskmanager .shopForm input,
.shopmanager .taskForm input,
.shopmanager .shopForm input {
  font-family: "OpenSans-Regular";
  color: #02091e;
  font-size: 1rem;
  background-color: white;
  padding: 0.2rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  height: auto;
}
.taskmanager .taskForm select,
.taskmanager .taskForm option,
.taskmanager .shopForm select,
.taskmanager .shopForm option,
.shopmanager .taskForm select,
.shopmanager .taskForm option,
.shopmanager .shopForm select,
.shopmanager .shopForm option {
  background-color: white;
  font-family: "OpenSans-Regular";
  font-size: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  padding: 0.2rem;
  margin: 0.5rem 0;
  border: #02091e 1.6px inset;
}
.taskmanager .taskForm button,
.taskmanager .shopForm button,
.shopmanager .taskForm button,
.shopmanager .shopForm button {
  background-color: #021e73;
  font-family: "Lexend-SemiBold";
  font-size: 1rem;
  color: #ecf0fa;
  border-radius: 0.5rem;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.6rem;
  border: 3px outset #4966bf;
  display: flex;
  justify-content: center;
  align-items: center;
}
.taskmanager .taskForm button:hover,
.taskmanager .shopForm button:hover,
.shopmanager .taskForm button:hover,
.shopmanager .shopForm button:hover {
  border: 3px solid #fcca00;
  transition: 0.4s ease;
  color: #fcca00;
}
.taskmanager .taskBox li,
.shopmanager .taskBox li {
  border-bottom: 2px solid #02091e;
}
.taskmanager .taskBox li:last-child,
.shopmanager .taskBox li:last-child {
  border: none;
}
.taskmanager .shopBox,
.taskmanager .taskBox,
.shopmanager .shopBox,
.shopmanager .taskBox {
  background-color: #93aefc;
  border-radius: 1rem;
  padding: 1rem 1rem;
  width: 100%;
  height: auto;
  font-family: "Lexend-Bold";
  color: #02091e;
  margin-bottom: 1rem;
}
.taskmanager .shopBox .priority,
.taskmanager .taskBox .priority,
.shopmanager .shopBox .priority,
.shopmanager .taskBox .priority {
  text-decoration: underline;
}
.taskmanager .shopBox ul li,
.taskmanager .taskBox ul li,
.shopmanager .shopBox ul li,
.shopmanager .taskBox ul li {
  list-style: none;
}
.taskmanager .shopBox ul li h2,
.taskmanager .taskBox ul li h2,
.shopmanager .shopBox ul li h2,
.shopmanager .taskBox ul li h2 {
  font-size: 1.2rem;
}
.taskmanager .shopBox ul li h2,
.taskmanager .shopBox ul li p,
.taskmanager .taskBox ul li h2,
.taskmanager .taskBox ul li p,
.shopmanager .shopBox ul li h2,
.shopmanager .shopBox ul li p,
.shopmanager .taskBox ul li h2,
.shopmanager .taskBox ul li p {
  word-wrap: break-word;
}
.taskmanager .shopBox ul li button,
.taskmanager .taskBox ul li button,
.shopmanager .shopBox ul li button,
.shopmanager .taskBox ul li button {
  background-color: #021e73;
  font-family: "Lexend-SemiBold";
  font-size: 1rem;
  color: #ecf0fa;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 2px outset #4966bf;
}
.taskmanager .shopBox ul li button:hover,
.taskmanager .taskBox ul li button:hover,
.shopmanager .shopBox ul li button:hover,
.shopmanager .taskBox ul li button:hover {
  border: 2px solid #fcca00;
  transition: 0.4s ease;
  color: #fcca00;
}
.taskmanager .shopBox ul .shop-item,
.taskmanager .taskBox ul .shop-item,
.shopmanager .shopBox ul .shop-item,
.shopmanager .taskBox ul .shop-item {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  align-items: center;
  word-break: break-all;
}
.taskmanager .shopBox ul .shop-item .shop-buttons,
.taskmanager .taskBox ul .shop-item .shop-buttons,
.shopmanager .shopBox ul .shop-item .shop-buttons,
.shopmanager .taskBox ul .shop-item .shop-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  justify-content: right;
}
.taskmanager .shopBox ul .shop-item .shop-buttons button,
.taskmanager .taskBox ul .shop-item .shop-buttons button,
.shopmanager .shopBox ul .shop-item .shop-buttons button,
.shopmanager .taskBox ul .shop-item .shop-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.2rem;
}
.taskmanager .shopBox ul .task-item,
.taskmanager .taskBox ul .task-item,
.shopmanager .shopBox ul .task-item,
.shopmanager .taskBox ul .task-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2.5rem;
  gap: 0.5rem;
}
.taskmanager .shopBox ul .task-item .task-buttons,
.taskmanager .taskBox ul .task-item .task-buttons,
.shopmanager .shopBox ul .task-item .task-buttons,
.shopmanager .taskBox ul .task-item .task-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  justify-content: right;
  grid-row: 2;
}
.taskmanager .shopBox ul .task-item .task-buttons button,
.taskmanager .taskBox ul .task-item .task-buttons button,
.shopmanager .shopBox ul .task-item .task-buttons button,
.shopmanager .taskBox ul .task-item .task-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.2rem;
}
.taskmanager .shopBox ul .shop-item.completed,
.taskmanager .shopBox ul .task-item.completed,
.taskmanager .taskBox ul .shop-item.completed,
.taskmanager .taskBox ul .task-item.completed,
.shopmanager .shopBox ul .shop-item.completed,
.shopmanager .shopBox ul .task-item.completed,
.shopmanager .taskBox ul .shop-item.completed,
.shopmanager .taskBox ul .task-item.completed {
  text-decoration: line-through;
  color: #4966bf;
}
.taskmanager button,
.shopmanager button {
  background-color: #021e73;
  font-family: "Lexend-SemiBold";
  font-size: 1rem;
  color: #ecf0fa;
  border-radius: 0.5rem;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.6rem;
  border: 3px outset #4966bf;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 0.25rem;
  height: 3rem;
}
.taskmanager button:hover,
.shopmanager button:hover {
  border: 3px solid #fcca00;
  transition: 0.4s ease;
  color: #fcca00;
}
.taskmanager .modal-overlay .modal input,
.taskmanager .modal-overlay .modal textarea,
.shopmanager .modal-overlay .modal input,
.shopmanager .modal-overlay .modal textarea {
  background-color: white;
  padding: 0.2rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  height: auto;
}
.taskmanager .modal-overlay .modal .custom-edit,
.shopmanager .modal-overlay .modal .custom-edit {
  width: 100%;
  height: 6rem;
  resize: none;
}
.taskmanager .modal-overlay .modal select,
.taskmanager .modal-overlay .modal option,
.shopmanager .modal-overlay .modal select,
.shopmanager .modal-overlay .modal option {
  background-color: white;
  font-family: "OpenSans-Regular";
  font-size: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  padding: 0.2rem;
  margin: 0.5rem 0;
  border: #02091e 1.6px inset;
}
.taskmanager .modal-overlay .modal button,
.shopmanager .modal-overlay .modal button {
  background-color: #021e73;
  font-family: "Lexend-SemiBold";
  font-size: 1rem;
  color: #ecf0fa;
  border-radius: 0.5rem;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.6rem;
  border: 3px outset #4966bf;
  display: flex;
  justify-content: center;
  align-items: center;
}
.taskmanager .modal-overlay .modal button:hover,
.shopmanager .modal-overlay .modal button:hover {
  border: 3px solid #fcca00;
  transition: 0.4s ease;
  color: #fcca00;
}
.taskmanager .modal-overlay .modal h2,
.shopmanager .modal-overlay .modal h2 {
  font-size: 1.5rem;
}

/*tablet version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
@media screen and (min-width: 425px) and (max-width: 800px) {
  .switchButtons button {
    font-size: 1.3rem;
  }
}
/*Desktop version - made on behalf og bigger screens*/
@media only screen and (min-width: 801px) {
  .manager {
    max-width: 1000px;
  }
  .switchButtons button {
    font-size: 1.5rem;
  }
  .taskmanager h1,
  .shopmanager h1 {
    font-size: 1.75rem;
  }
  .taskmanager h2,
  .shopmanager h2 {
    font-size: 1.5rem;
  }
  .taskmanager p,
  .shopmanager p {
    font-size: 1.3rem;
  }
  .taskmanager button,
  .shopmanager button {
    font-size: 1.3rem;
  }
  .taskmanager .taskForm input,
  .taskmanager .taskForm select,
  .taskmanager .taskForm option,
  .taskmanager .taskForm button,
  .taskmanager .shopForm input,
  .taskmanager .shopForm select,
  .taskmanager .shopForm option,
  .taskmanager .shopForm button,
  .shopmanager .taskForm input,
  .shopmanager .taskForm select,
  .shopmanager .taskForm option,
  .shopmanager .taskForm button,
  .shopmanager .shopForm input,
  .shopmanager .shopForm select,
  .shopmanager .shopForm option,
  .shopmanager .shopForm button {
    font-size: 1.3rem;
  }
  .taskmanager .taskForm button,
  .taskmanager .shopForm button,
  .shopmanager .taskForm button,
  .shopmanager .shopForm button {
    height: 3rem;
  }
  .taskmanager .taskBox ul li button,
  .shopmanager .taskBox ul li button {
    width: 2.5rem;
    height: 2.5rem;
  }
  .taskmanager .taskBox ul li button .icon,
  .shopmanager .taskBox ul li button .icon {
    width: 2rem;
    height: auto;
  }
  .taskmanager .taskBox .modal input,
  .taskmanager .taskBox .modal select,
  .taskmanager .taskBox .modal option,
  .taskmanager .taskBox .modal button,
  .taskmanager .taskBox .modal .custom-edit,
  .shopmanager .taskBox .modal input,
  .shopmanager .taskBox .modal select,
  .shopmanager .taskBox .modal option,
  .shopmanager .taskBox .modal button,
  .shopmanager .taskBox .modal .custom-edit {
    font-size: 1.3rem;
  }
  .taskmanager .taskBox .modal label,
  .shopmanager .taskBox .modal label {
    font-size: 1.3rem;
  }
  .taskmanager .taskBox .modal button,
  .shopmanager .taskBox .modal button {
    height: 3rem;
  }
  .taskmanager .shopBox .shop-item button,
  .shopmanager .shopBox .shop-item button {
    width: 2.5rem;
    height: 2.5rem;
  }
  .taskmanager .shopBox .shop-item button .icon,
  .shopmanager .shopBox .shop-item button .icon {
    width: 2rem;
    height: auto;
  }
}/*# sourceMappingURL=App.css.map */