//Variabler
$mediumBlue: #4966bf;
$lightBlue: #93aefc;
$opacityBlue: rgba(73, 102, 191, 0.8);
$strongBlue: #021e73;
$strongYellow: #fcca00;
$whiteBlue: #dae0f0;
$blueBlack: #02091e;
$headingBold: "Lexend-Bold";
$headingSemi: "Lexend-SemiBold";
$headingRegular: "Lexend-Regular";
$bodyTxt: "OpenSans-Regular";
$borderRadiusOuter: 2rem;
$borderRadiusInner: 1rem;
$transition: 0.4s ease;
//outer radius = inner radius + padding!

//Font
@font-face {
  font-family: "Lexend-Bold";
  src: url(../src/assets/fonts/Lexend-Bold.ttf);
}

@font-face {
  font-family: "Lexend-SemiBold";
  src: url(../src/assets/fonts/Lexend-SemiBold.ttf);
}

@font-face {
  font-family: "Lexend-Regular";
  src: url(../src/assets/fonts/Lexend-Regular.ttf);
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(../src/assets/fonts/OpenSans-Regular.ttf);
}

//Mixins
@mixin heading($family: $headingBold, $size: 1.5rem) {
  font-family: $family;
  color: $blueBlack;
}

@mixin txt($color: $blueBlack, $size: 1rem) {
  font-family: $bodyTxt;
  color: $color;
  font-size: $size;
}

// For the switchbuttons at the top of the page
@mixin switchButtons() {
  background-color: $lightBlue;
  font-family: $headingSemi;
  color: $blueBlack;
  padding: 1.5rem 1rem;
  font-size: 1.1rem;
  border-radius: $borderRadiusInner;
  border: 3px outset $whiteBlue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;

  .list-icon {
    background-color: $whiteBlue;
    color: $blueBlack;
    font-size: 3rem;
    border-radius: 50%;
    padding: 0.4rem;
    justify-self: center;
  }

  &:hover {
    border: 3px solid $strongYellow;
    transition: $transition;
  }
}

//This is for the general use of boxes
@mixin button() {
}

//This is for inputfields
@mixin input() {
}

//this is for choises
@mixin choice() {
}

// This is for the bento boxes, box1 is the containers bg color, box2 is for the interactive or clickable parts
//need to add height, width, margin etc, when we get to it
@mixin box1() {
  background-color: $opacityBlue;
  border-radius: $borderRadiusOuter;
  backdrop-filter: blur(2px);
  border: none;
  margin: 1rem 0.5rem;
  padding: 1rem 1rem;
}

@mixin box2() {
  background-color: $lightBlue;
  border-radius: $borderRadiusInner;
}
