//Variabler
$mediumBlue: #4966bf;
$lightBlue: #93aefc;
$opacityBlue: rgba(73, 102, 191, 0.7);
$strongBlue: #021e73;
$strongYellow: #fcca00;
$whiteBlue: #dae0f0;
$blueBlack: #02091e;
$headingBold: "Lexend-Bold";
$headingSemi: "Lexend-SemiBold";
$headingRegular: "Lexend-Regular";
$bodyTxt: "OpenSans-Regular";
$borderRadiusOuter: 1rem;
$borderRadiusInner: 1rem;
//outer radius = inner radius + padding!

//Font
@font-face {
  font-family: "Lexend-Bold";
  src: url(../src/assets/fonts/Lexend-Bold.ttf);
}

@font-face {
  font-family: "Lexend-SemiBold";
  src: url(../src/assets/fonts/Lexend-SemiBold.ttf);
}

@font-face {
  font-family: "Lexend-Regular";
  src: url(../src/assets/fonts/Lexend-Regular.ttf);
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(../src/assets/fonts/OpenSans-Regular.ttf);
}

//Mixins
@mixin heading($family: $headingBold, $size: 1.5rem) {
  font-family: $family;
  color: $blueBlack;
}

@mixin txt($color: $blueBlack, $size: 1rem) {
  font-family: $bodyTxt;
  color: $color;
  font-size: $size;
}

// For the switchbuttons at the top of the page
@mixin switchButtons() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $lightBlue;
  font-family: $headingSemi;
  color: $blueBlack;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: $borderRadiusInner;
  border: none;
  margin: 0.8rem;
}

// This is for the bento boxes, box1 is the containers bg color, box2 is for the interactive or clickable parts
//need to add height, width, margin etc, when we get to it
@mixin box1() {
  background-color: $opacityBlue;
  border-radius: $borderRadiusOuter;
  backdrop-filter: blur(2px);
  border: none;
}

@mixin box2() {
  background-color: $lightBlue;
  border-radius: $borderRadiusInner;
}
